# Git
.git
.gitignore

# Docker
.docker
Dockerfile
docker-compose*.yml

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/

# devbox
.devbox/
devbox/
